html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Company Header */
.main-banner-image {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("../images/main-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-header {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  color: white;
}

nav ul {
  display: flex;
}

li {
  padding: 1rem 2rem;
}

.main-title {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.main-title img {
  padding: 1rem 1rem 1rem 2rem;
  height: 1.5rem;
}

/* Main Banner */
.main-banner {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
}

.main-banner-title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

.second-menu {
  display: none;
}

/* Media Queries max-width: 1024px */
@media only screen and (max-width: 1024px) {
  .main-banner-image {
    height: 22rem;
    padding-top: 0;
  }

  .main-banner-title {
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }

  .main-banner {
    margin-top: 5rem;
  }

  .main-banner-title h1 {
    font-size: 1.33rem;
  }

  .container {
      max-width: 100%;
 }
}

/* Media Queries max-width: 470px */
@media only screen and (max-width: 470px) {
  .main-banner-image {
    height: 17rem;
    background-position: 20%;
  }

  nav ul {
    display: none;
  }

  .second-menu {
    display: block;
  }

  .main-banner {
    margin-top: 9rem;
  }

  .main-banner-title {
    padding: 1rem 0;
    width: 100%;
    margin: auto;
  }

  .main-banner-title h1 {
    font-size: 1rem;
    text-align: center;
  }
}

/* Customer Service */
.customer-service {
  display: flex;
  justify-content: center;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.services img {
  width: 5rem;
  margin-bottom: 1rem;
}

.services img.paper-icon {
  width: 3.5rem;
}

/* Media Queries max-width: 470px */
@media only screen and (max-width: 470px) {
  .services {
    margin: 3.77rem;
    font-size: 0.77rem;
    height: auto;
  }

  .customer-service {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

/* Business Info */
.business-info {
  display: flex;
}

.info .title {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  background-color: cadetblue;
  color: white;
}

.info {
  width: 35%;
  margin: 5%;
  line-height: 1.4;
}

/* Media Queries max-width: 470px */
@media only screen and (max-width: 470px) {
  .business-info {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .info {
    width: 100%;
  }

  .info .title {
    width: 100%;
  }

  .info span {
    padding: 1rem;
    font-size: 0.77rem;
  }
}


/* Footer */
.copyright {
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem;
  margin-top: 5rem;
}

.copyright img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Media Queries max-width: 470px */
@media only screen and (max-width: 470px) {
  .copyright {
    justify-content: center;
  }

  .copyright span {
    display: none;
  }
  }
